<div style="text-align: center;">
  <h1>String Pipes</h1><br>
  <h3>Without Perameterize Pipe</h3><br>

{{name}} <br>
<strong>Lower Case Pipe</strong> : {{name | lowercase}} <br>
<strong>Upper Case Pipe</strong> : {{name | uppercase}} <br>
<strong>Title Case Pipe</strong> : {{name | titlecase}} <br>
<h1>Perameterize Pipe</h1><br>
<strong>Slice Pipe</strong> : {{msg | slice:8}} <br>
<strong>Slice Pipe</strong> : {{msg | slice : 8 : 11}}
<h1>Json Pipe</h1>
Name : {{company.Name}} <br>
City : {{company.City}} <br>
Country : {{company.Country}} <br>
<h3>Using Json Pipe</h3>
{{company | json}} <br>
<table border="1" style="margin: auto; text-align: center;">
  <tr>
    <td>Employee ID</td>
    <td>Employee Name</td>
    <td>City Name</td>
  </tr>
  @for (item of employee; track item.id) {
    <tr>
      <td>{{item.id}}</td>
      <td>{{item.Name |uppercase}}</td>
      <td>{{item.city | titlecase}}</td>
    </tr>
  }
</table>
<h1>Decimal And Percent Pipe</h1>
{{34.298353795792875}} <br>
{{34.2935423875 | number}} <br>
{{34.298353795792875 | number:'2.2-7'}} <br>
<h2>Percent Pipe</h2><br>
Percentage : {{per | percent}} <br>
<h2>Currency Pipe</h2> <br>
{{curr | currency}} <br>
{{curr | currency:'INR'}} <br>
{{curr | currency:'GBP'}} <br>
<h1>Date Pipe</h1> <br>
<h3>{{currentdate}}</h3> <br>
<h3>{{currentdate | date}}</h3> <br>
<h3>{{currentdate | date:'shortDate'}}</h3> <br>
<h3>{{currentdate | date:'longDate'}}</h3> <br>
<h3>{{currentdate | date:'fullDate'}}</h3> <br>
<h3>{{currentdate | date:'dd-MM-yyyy'}}</h3><br>
<h3>{{currentdate | date:'dd/MM/yyyy'}}</h3><br>
<h1>Custom Pipe</h1> <br>
<h3>{{name | welcome}}</h3> <br>
<h3>{{"Asif" | welcome | uppercase}}</h3>
</div> 